* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background: url("./img/361409-svetik.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
}

.input-task {
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding: 10px;
}

.botao-add {
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #003399;
    color: #ffff;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
}

.botao-add:hover {
    opacity: 0.8;
}

.botao-add:active {
    opacity: 0.3;
    font-weight: 700;
}

.list-task {
    width: 100%;
    list-style: none;
    margin-top: 30px;
}

.task {
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.task:hover img {
opacity: 1;
}

.done{
background-color: rgb(123, 244, 204);
text-decoration: line-through;
}